.details{
  height:450px;
  width: 450px;
  border-radius: 12px;
  display: inline-block;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  padding: 15px;
  margin-left: 500px ;
  box-shadow: 2px  2px 4px 4px #133E87;
}
/* .mainbody{
  background-image: url("bg2.jpg");
  background-size: cover;


} */
.mb-3{
  margin-top: 20px;
}
.form-label{
  width: 400px;
}
.btnlog{
  border:2px solid #133E87;
  color: white;
  border-radius:14%;
  height:45px;
  width:100px;
  display:flex;
  justify-content: center;
  background-color: #133E87;
  margin-top: 30px;
  padding-top: 9px;
  margin-left: 150px;
}
p{
  margin-top: 20px;
}
.LoginBtn{
  color: #133E87;
  text-decoration: none;
}

.btnsign{
  border:2px solid #133E87;
  color: white;
  border-radius:14%;
  height:45px;
  width:100px;
  display:flex;
  justify-content: center;
  background-color: #133E87;
  margin-top: 30px;
  padding-top: 9px;
  margin-left: 150px;
}
.mainbody{
  height: 600px;

}
.btnOne{
  border:2px solid white;
  color: white;
  border-radius:5px;
  height:40px;
  width:100px;
  display:flex;
  justify-content: center;
  background-color: #133E87;
  padding-top: 5px;
  margin-left: 70px;
}
.btnOne:hover{
background-color: white;
color: #133E87;
}
.exclusive{
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding-top: 22px;
  background-color: #BAD1CD;
  box-shadow: 2px 2px 2px 2px #BAD1CD;
  margin-bottom: 50px;
}
.box1{
  height: 350px;
  width: 400px;
  background-image: url("newss.webp");
  background-size: cover;
  border-radius: 10px;

}
.box2{
  height: 350px;
  width: 500px;
  display: inline-block;
  padding-top: 80px;

}
#mine:active{
  background-color: green;

}
